
.nav-open {
  right: 0;
  /* right: 650px; */
}

.nav-closed {
  right: -1000px;
  /* right: 0px; */
}

.nav-button {
  z-index: 10;
}

.sidebar-toggle span{
  font-size: 2.5 rem;
}

/* .links {
  display:block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 1,5rem;
  color: hsl(210, 22%, 49%);
  transition: all 0.3s linear;
  cursor: pointer;
}

.links:hover {
  background: hsl(205, 86%, 81%);
} */
