<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<h1>Kakao Login Test</h1>
	<span>
		<a href="https://kauth.kakao.com/oauth/authorize?client_id=ef14fb79403feb7ba433bb24121f7342&redirect_uri=http://localhost:8080/user/kakao/callback&response_type=code">
			<img src = "img/kakao_login_medium_narrow.png">
		</a>
	</span>
	<span>
		<form name="logout" action="http://localhost:8080/logout">
			<input type="submit" value="로그아웃">
		</form>
	</span>
</body>
</html>