
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>임시비밀번호</title>
</head>

<body>
    <h1>임시 비밀번호를 입력해서 로그인해 주세요 :)</h1><br>

<!--    <img th:src="@{https://media.discordapp.net/attachments/1057173362381692979/1074610782580510810/image.png}"  alt="첨부이미지" />-->

    <img th:src="@{https://media.discordapp.net/attachments/1057173362381692979/1068365839830634556/ezgif.com-gif-maker.gif}"  alt="첨부이미지" />
    <h3 th:text="${password}" ></h3>
</body>
</html>
